
.menu {
  background: White;
  width: 100%;
  height: 66px;
  line-height: 66px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(168, 164, 164);
  ;
}

.m-left {
  float: left;
}

.m-right {
  float: right;
  font-family: 'Lato';
}

.m-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}

.m-link:hover {
  border-bottom: 2px solid black;
}



.inner {
  width: 80%;
  margin: auto;
}

.Logo {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 35px;
  letter-spacing: 1px;
}

.m-nav-toggle {
  width: 40px;
  height: 66px;
  display: none;
  align-items: center;
  /*verticalement*/
  float: right;
  margin-right: 70px;
  cursor: pointer;
}

span.m-toggle-icon,
span.m-toggle-icon:before,
span.m-toggle-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(3, 3, 3);
  position: relative;
  transition: all 0.3s ease-in-out;
}

span.m-toggle-icon:before {
  top: 10px;
}

span.m-toggle-icon:after {
  top: -14px;
}

.m-right.is-open {
  transform: translateX(0);
}

.m-nav-toggle.is-open span.m-toggle-icon {
  background: transparent;
}

.m-nav-toggle.is-open span.m-toggle-icon:before,
.m-nav-toggle.is-open span.m-toggle-icon:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.m-nav-toggle.is-open span.m-toggle-icon:after {
  position: absolute;
  transform: rotate(-45deg);
}


@media only screen and (max-width: 1000px) {
  .m-right {
    position: absolute;
    top: 66px;
    right: 0;
    width: 200px;
    height: 39%;
    border-left: 1px solid rgb(168, 164, 164);
    border-bottom: 1px solid rgb(168, 164, 164);
    background: white;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .m-link:hover {
    border-bottom: 2px solid rgba(97, 97, 97, 0.308);
  }

  .m-link {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 20px;
    height: 70px;
  }

  .m-nav-toggle {
    display: flex;
  }

}

.Titreh2 {
  text-align: center;
  font-family: 'Lato';
  border: 1px solid rgb(168, 164, 164);
  margin-top: 1em;
  margin-left: 5em;
  margin-right: 5em;
  padding: 8px 12px;
  background: rgba(250, 246, 246, 0.993);
}

/* GENERAL */
*{
  margin: 0;
  box-sizing: border-box;
}

	
body
{
  font-family: Roboto;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.mail{
  text-decoration: none;
  color: #4472C4;
}

.mail:hover{
  text-decoration: underline;
}

p{
  margin: 0 0 1rem;
}

h1{
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2{
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-blue{
  color: #4472C4;
}

.text-darkblue{
  color: #002060;
}

.text-uppercase{
  text-transform: uppercase; 
}

.icon{
  margin-right: .5rem;
}

.cv-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 50px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section{
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

/* LEFT COLUMN */
.left-column{
  grid-area: left-column;
  padding: 50px;
  background-color: #4472C4;
  color: white;
}

.portait{
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.skills{
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 0px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column{
  grid-area: right-column;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas: 
    "header"
    "content";
}

/* HEADER */
.header{
  grid-area: header;
  padding: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos{
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content{
  grid-area: content;
  padding: 50px;
}

.experience-list{
  list-style-type: circle;
}

@media only screen and (max-width: 1000px) 
{
.cv-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 900px;
    float: left;
      margin-left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  }

    .left-column {
      grid-area: left-column;
      padding: 50px;
      background-color: #4472C4;
      color: white;
     
    }

        .right-column {
          grid-area: right-column;
          display: grid;
          grid-template-rows: 250px 1fr;
          grid-template-areas:
            "header"
            "content";
            width: 600px;
        }

           .header {
                  grid-area: header;
                  padding: 50px;
                  background-color: #F2F2F2;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  width: 600px;
                }

                                .content {
                                  grid-area: content;
                                  padding: 50px;
                                  width: 600px;
                                }
                
                                .experience-list {
                                  list-style-type: circle;
                                  width: 500px;
                                }
}


/* From uiverse.io by @satyamchaudharydev */
/* BUTTON */
button {

  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #4472c4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display : block;
margin: auto;  
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

.Cv
{
	color: #fff;
}
